//  модальне вікно * Updated upstream
.modal-buy-form {
  ​ ​ .modal-buy {
    position: fixed;
    width: 280px;
    padding: 28px 0px;
    margin: auto;
    background-color: getColor(theme-white);
    border: 1px solid getColor(yellow-main);
    border-radius: 10px;
    top: 50%;
    left: 50%;
  }
  ​ .modal-close {
    background-color: unset;
    border: none;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  /* модальне вікно modal-form*/

  .modal-title {
    margin: 20px 91px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5px;
    align-items: center;
    text-align: center;
    color: #131313;
  }
  .modal-buy-now {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //.product-ice-cream{}

  .product-ice-coffe {
    height: 136px;
    margin-top: 63px;
    margin-bottom: 0px;
    // background-color:yellow;
    border-radius: 15px;
  }

  //.product-milkshake{}

  .modal_buy-now-product__frame {
    //position: relative;
    margin-top: 63px;
    margin-bottom: 0px;
    height: 136px;
    border: 2px solid #96af8c;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15px;
  }

  .modal_buy-now-product__image {
    position: absolute;
    top: -50%;
    left: 0;
  }
  .modal_buy-now-product__name {
    position: absolute;

    left: 15px;
    bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.15px;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #131313;
  }
  // .modal_buy-now-checkbox{}
  .modal_buy-now-checkbox input:checked + .product-ice-cream {
    background-color: #aec6a5;
  }

  .modal_buy-now-checkbox input:checked + .product-ice-coffe {
    background-color: #efd478;
  }

  .modal_buy-now-checkbox input:checked + .product-milkshake {
    background-color: #d6936d;
  }
  /* модальна форма modal-form*/
  .modal-forma {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
  }
  .modal-input {
    margin-bottom: 12px;
    width: 224px;
    height: 32px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
  }
  .user-coment-area {
    width: 224px;
    height: 32px;
    resize: none;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.modal-buynow__content {
  padding-left: 28px;
  padding-right: 28px;
  @media screen and (min-width: $tablet) {
    padding: 0;
  }
  & .modal-input {
    width: 100%;
    height: 42px;
    background: #f8d24e1a;
    border: 1px solid #84a178;
    border-radius: 10px;
    outline: #f8d24e;
    padding: 11px;
  }
  & .user-coment-area {
    width: 100%;
    height: 42px;
    background: #f8d24e1a;
    border: 1px solid #84a178;
    border-radius: 10px;
    outline: #f8d24e;
    padding: 11px;
  }
}

.modal_buy-now-product__image img {
  display: inline-block;
}

.modal_buy-now-product__image {
  position: relative;
}

.modal_buy-now-product__image::after {
  content: '';
  z-index: -1;
  transform: translateX(-100%);
  border-radius: 50%;
  height: 132px;
  width: 132px;
  position: absolute;
  top: 7px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.modal_buy-now__item:nth-child(2) .modal_buy-now-product__image::after {
  background: linear-gradient(0deg, #f8d24eb3, #f8d24eb3), #d9d9d9;
  box-shadow: 0 5.40397px 20.2649px #99721740;
}

.modal_buy-now__item:nth-child(3) .modal_buy-now-product__image::after {
  background: linear-gradient(0deg, #d5753fb3, #d5753fb3), #d9d9d9;
  box-shadow: 0 5.41333px 20.3px #00000040;
}

.modal_buy-now-product__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: getColor(theme-black);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 20px 16px;
}

.modal_buy-now-product__frame::after {
  content: '';
  width: 132px;
  height: 136px;
  border: 2px solid #96af8c;
  border-radius: 15px;
  display: block;
  position: absolute;
  transform: translateY(-100%) translateX(34%);
  z-index: -1;
  @media screen and (min-width: $tablet) {
    transform: translateX(0) translateY(-100%);
  }
}
.modal_buy-now__item:nth-child(2) .modal_buy-now-product__frame::after {
  border: 2px solid #efd478;
}
.modal_buy-now__item:nth-child(3) .modal_buy-now-product__frame::after {
  border: 2px solid #d6936d;
  @media screen and (min-width: $tablet) {
  transform: translateX(2%)translateY(-100%);
  }
}

.modal_buy-now {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    
  }
}

.modal-forma {


    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-forma .user-coment-area {
  height: 42px;
}

.modal-buynow__title {
  font-family: 'Seymour One', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: getColor(theme-black);
  margin-bottom: 10px;
  text-align: center;
}

.modal_buy-now-checkbox:hover {
  cursor: pointer;
}

.modal_buy-now__item:nth-child(1)
  .modal_buy-now-checkbox
  input[type='checkbox']:checked
  + .modal_buy-now-product
  .modal_buy-now-product__frame::after {
  background-color: #96af8c;
}

.modal_buy-now__item:nth-child(2)
  .modal_buy-now-checkbox
  input[type='checkbox']:checked
  + .modal_buy-now-product
  .modal_buy-now-product__frame::after {
  background-color: #efd478;
}
.modal_buy-now__item:nth-child(3)
  .modal_buy-now-checkbox
  input[type='checkbox']:checked
  + .modal_buy-now-product
  .modal_buy-now-product__frame::after {
  background-color: #d6936d;
}
