
/* модальне вікно */
/*.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms, visibility 500ms;
  }
  
  .modal-backdrop.is-hidden .modal {
    transform: rotate(-90deg);
  }*/
 
 /* .modal {
    width: 280px;
    height: 981px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
    border-radius: 20px;
  
  
  .close{
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    
     color: #000000; 
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

*/
.visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;     
   }

  /* модальне вікно modal-form*/

.modal__forma{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 40px;
}
  .modal__title{ 
   
    margin: 20px 91px;
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
line-height: 1.5px;
display: flex;
align-items: center;
text-align: center;

color: #131313;
  }


  .modal_buy-now{
    display: flex;
    flex-direction: column;
  align-items: center;
 }
 

 .modal_buy-now__item{
  //position: relative;
  
  margin-bottom: 20px;
 width: 132px;
  height: 200px;
 border: solid 2px tomato;
 }
 .product-ice-cream{

}

.product-ice-coffe{
  height: 136px;
  margin-top: 63px;
    margin-bottom: 0px;
  //background-color:yellow;
  border-radius: 15px;
}

.product-milkshake{

}

.modal_buy-now-product__frame{

position: absolute;
margin-top: 63px;
margin-bottom: 0px;
height: 136px;
border: 2px solid #96AF8C;
filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
border-radius: 15px;

}

.modal_buy-now-product__image{
position: absolute;
top:-50%;
left: 0;

}

  .modal_buy-now-product__name{
   
position: absolute;
   
  left: 15px;
  bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.15px;
    
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #131313;
  }

  .modal_buy-now-checkbox{}
  

  & input:checked .product-milkshake{
    background-color: #757575;
  }


 .user-agree{
   
   position: absolute;
    font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.03em;
color: #757575;
}

.ice-title{
  position: absolute;
  top: 150px ;
  left: 15px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  
  color: #131313;
  margin-top: 20px;
}
/*

.user-agree::before {
    content: "";
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
}

.check-input{
    margin: 10px;

& input:checked + .user-agree::before{
    background-color: #2196F3;
    border: none;
    background-image: url(/imges/Galka\(1\).svg);
     background-repeat: no-repeat;
    background-position: center;
} 
}








/* модальна форма modal-form*/

.modal-input{
  margin-bottom: 12px;
      width: 224px;
      height: 32px;
    
      background: rgba(248, 210, 78, 0.1);
   border: 1px solid #84A178;
   border-radius: 10px; 
}  
.user-coment-area{
 
  
  width: 224px;
  height: 32px;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px; 
  margin-bottom: 20px;
}
  


