<header>
   <div class="container header__logo">
    <img src="./images/header/Logodec@1x.png" alt="">
    
<button class="header__menu js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg width="32" height="32">
        <use href="./images/icons.svg#mobile_menu"></use>
    </svg>
</button>

</div>



<div class="header__menu-container js-header__menu-container" id="mobile-menu">
    <button class="header__menu js-close-menu">
        <svg width="32" height="32">
        <use href="./images/icons.svg#mobile_menu_x"></use>
        </svg>
    </button>

    <ul class="mobile-menu">
    <img class="logo__menu" src="./images/header/Logodec@1x.png" alt="">
        <li class="mobile-menu_item"><a href="" class=" mobile-menu_link ">Home</a></li>
        <li class="mobile-menu_item"><a href="" class=" mobile-menu_link ">How it’s made?</a></li>
        <li class="mobile-menu_item"><a href="" class=" mobile-menu_link ">Our products</a></li>
        <li class="mobile-menu_item"><a href="" class=" mobile-menu_link ">Contact</a></li>
        
    </ul>

</div>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>
<script defer src="./js/mobile-menu.js"></script>
</header>